<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Victor Oyindamola Julius - Data Analyst, Data Scientist, and Machine Learning Engineer. I bring data to life!">
    <meta name="keywords" content="Data Science, Machine Learning, Data Analytics, Python, Power BI">
    <meta name="author" content="Victor Oyindamola Julius">
    <title>Victor Oyindamola Julius | Data Analyst, Data Scientist, ML Engineer</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
    <nav aria-label="Main navigation">
    <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/CV">CV</a></li>
            <li><a href="/blog">Blog</a></li>
    </ul>
    </nav>
    
    <div class="container">
    {{ content }}
        <div class="blurb">
            <h1>Hi there, I'm Victor Oyindamola Julius!</h1>
            <p>I'm a Data Professional.<strong>I bring Data to Life!</strong> - <a href="/about">Read more about my life...</a></p>
        </div>
    </div>
    
    <footer>
    <ul>
            <li><a href="mailto:joviunique@gmail.com">Email</a></li>
            <li><a href="https://github.com/VeequeJay" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/victor-oyindamola-julius-123abc/" target="_blank">LinkedIn</a></li>
    </ul>
    </footer>
</body>
</html>
